html, body {
	background-color: rgba(161, 225, 234, 0.5);
	font-family: Roboto, sans-serif;
}

div#content {
	width: 800px;
	margin: auto;
}

h2 {
	text-align: center;
	font-weight: 900;
}

img.logo {
	display: block;
	margin: 20px auto;
}

form {
	background: url("./images/desktop-banner-2308-back-cups.477de766.png") center;
}

form > div {
	text-align: center;
	padding: 10px;
}

form table {
	width: 100%;
}

form th {
	background-color: rgba(161, 225, 224, 0.7);

}

form input {
	display: block;
	margin: 10px auto;
}
