#kiddoz-magik h2 {
	font-family: 'FuturaLT Bold';
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	letter-spacing: 1px;
}
#kiddoz-magik .card {
	margin-top: 13px;
	border-radius: 4px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
	background-color: #ffffff;
	overflow: hidden;
}
#kiddoz-magik .card h2 {
	height: 58px;
	margin: 0;
	background: #6252a7;
	display: flex;
	justify-content: center;
	align-items: center;
}
#kiddoz-magik .card h2.orange {
	background: #ff671d;
}
#kiddoz-magik .card .card-content {
	padding: 32px 15px;
}
#kiddoz-magik button.btn {
	cursor: pointer;
	background: #6252a7;
	color: white;
	border-radius: 8px;
	height: 51px;
	width: 100%;
	font-size: 16px;
	padding: 0;
	border: none;
	margin-top: 13px;
	font-family: 'Roboto Bold', sans-serif;
	transition: background 250ms;
	text-transform: unset;
	letter-spacing: unset;
}
#kiddoz-magik button.btn:hover {
	background: #49398E;
}
#kiddoz-magik button.add, button.remove {
	width: 37px;
	height: 37px;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	color: transparent;
	cursor: pointer;
	flex-shrink: 0;
	flex-grow: 0;
}
#kiddoz-magik button.add {
	background-image: url('./images/btn-add.svg');
}
#kiddoz-magik button.remove {
	background-image: url('./images/btn-remove.svg');
}
#kiddoz-magik button.btn.transparent {
	background: none;
	color: #6252a7;
	border: solid 1px #6252a7;
}
#kiddoz-magik button.btn.transparent:hover {
	color: #49398E;
	background: rgba(0, 0, 0, 0.1);
}
#kiddoz-magik input[type="text"], input[type="number"], select {
	background: #f6f5fa;
	border: none;
	border-radius: 5px;
	padding: 0 14px;
	font-size: 14px;
	font-family: "Roboto Regular";
	color: #282828;
	border: solid 0.5px #6252a7;
	flex-grow: 1;
	flex-shrink: 1;
	height: 51px;
	display: inline-block;
}
#kiddoz-magik input[type="number"] {
	padding: 0 5px;
	width: 70px;
}
#kiddoz-magik select {
	padding-right: 30px;
	position: relative;
	appearance: none;
	-webkit-appearance: none;
	background: url('./images/select_appearance.svg');
	background-repeat: no-repeat;
	background-position: center right 8px;
	background-size: 14px;
}
#kiddoz-magik select.flex-grow {
	flex-grow: 1;
}
#kiddoz-magik select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
#kiddoz-magik .ingredientList {
	margin-bottom: 16px;
	display: flex;
	justify-content: center;
}
#kiddoz-magik .ingredientList .ingredientList-button {
	margin-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#kiddoz-magik .ingredientList .ingredientList-form {
	justify-content: center;
	width: 100%;
	max-width: 360px;
}
#kiddoz-magik .ingredientList.ingredientListActions {
	display: flex;
	margin: auto;
	justify-content: flex-start;
	width: 100%;
	max-width: 437px;
}
#kiddoz-magik .ingredientListActions button.remove { display: none; }
@media screen and (max-width: 768px ) {
	#kiddoz-magik .ingredientList .ingredientList-button { display: none !important; }
	#kiddoz-magik .ingredientList.ingredientListActions { margin: auto; justify-content: flex-end; max-width: 380px; }
	#kiddoz-magik .ingredientList.ingredientListActions button.remove { display: block; }
}
#kiddoz-magik #recipe_content {
	padding: 18px 32px 0px;
}
#kiddoz-magik #recipe_content ul {
	list-style: none;
}
#kiddoz-magik #recipe_content ul li {
	padding-bottom: 19px;
}
#kiddoz-magik #recipe_content ul li img {
	max-height: 32px;
	margin-right: 6px;
	margin-left: 6px;
	vertical-align: middle;
}
